header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* border: 1px solid black; */
  z-index: 99;
  background-color: hsl(122, 90%, 44%);
  border-bottom: 1px solid rgb(235, 235, 233);
}
#links {
  display: flex;

  justify-content: center;
  width: 50%;
  list-style: none;
  gap: 50px;
  /* border: 1px solid black; */
}
#links li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  color: hsl(0, 0%, 100%);

  background-image: linear-gradient(
    45deg,
    hsl(136, 65%, 51%),
    hsl(215, 79%, 58%)
  );
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}
#links li a:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}
#links li {
  text-decoration: none;
}
header button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  padding: 10px;
  border: none;
  color: white;
  font-size: 16px;
  background: linear-gradient(45deg, hsl(136, 65%, 51%), hsl(215, 79%, 58%));
  cursor: pointer;
}
header button:hover {
  background: linear-gradient(45deg, hsl(136, 73%, 60%), hsl(215, 74%, 62%));
  cursor: pointer;
}
.logo a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.mobileNavs {
  display: none;
}
@media (max-width: 600px) {
  #hamburger {
    display: flex !important;
    background-color: aliceblue;
    width: 45px;
    height: 37px;
    position: relative;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    transition: 0.5s ease;
    cursor: pointer;
    /* margin-left: 150px; */
  }

  #hamburger::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: black;
    transition: 0.5s ease;

    transform: translateY(-10px);
    box-shadow: 0 10px 0 black;
  }
  #hamburger::after {
    content: "";
    position: absolute;
    transition: 0.5s ease;

    width: 26px;
    height: 2px;
    background-color: black;
    transform: translateY(10px);
  }
  #hamburger.toggle {
    background-color: black;
  }
  #hamburger.toggle::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: white;
    transform: translateY(0px) rotate(45deg);
    /* box-shadow: 0 10px 0 white; */
  }
  #hamburger.toggle::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: white;
    /* transform: translateY(10px); */
    transform: translateY(0px) rotate(-45deg);
  }
  header {
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
  }
  header button {
    display: none;
    justify-content: space-around;
  }
  #links {
    display: none;
  }
  .mobileNavs {
    display: none;
    position: fixed;
    z-index: 100;
    background-color: rgb(249, 252, 255);
    width: 80vw;
    align-items: center;
    backdrop-filter: blur(10px);
    height: 250px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobileNavs ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    transition: 5s ease-in;
    list-style-type: none;
  }
  .mobileNavs ul li a {
    color: hsl(240, 7%, 13%);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    background-image: linear-gradient(
      45deg,
      hsl(136, 65%, 51%),
      hsl(215, 79%, 58%)
    );
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
  }
  .mobileNavs ul li a:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
  }
  .active {
    display: flex;
  }
  .logo {
    height: 40px;
    width: 30%;
  }
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
